.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div {
  white-space: pre-wrap;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}
/* From https://codepen.io/jacurtis/pen/jKzPZe */
.flex-container > div:nth-child(odd) {
  position:relative;
  padding:10px 20px;
  color: white;
  background:#0B93F6;
	border-radius:25px;
  margin-left: auto;
  /* PV */
  text-align: right;
  max-width: 60%;


  &:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}

.flex-container > div:nth-child(even) {
  position:relative;
  padding:10px 20px;
  background:#E5E5EA;
	border-radius:25px;
  color : black;
  float: left;
  margin-right: auto;
  /* PV */
  text-align: left;
  max-width: 60%;
  /* Copy paste */
  &:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
  /* margin: 10px;
  padding: 20px;
  font-size: 30px; */
}

/* li:nth-child(odd) {
  background:#abcdef;
  max-width: 60%;
  text-align: right;
  border-radius: 8px;
  margin-left: 10%;
  display: inline-block;
  
}

li:nth-child(even) {
  background:#1234ab;
  max-width: 60%;
  text-align: left;
  border-radius: 20px;
  margin-left: 10%;
  display: inline-block;
} */
